/* General styles */

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.link {
  text-decoration: none;
  color: $primaryFontColor;
}
/* Header styles */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 24px;
}
.main-nav {
  display: flex;
  gap: 93px;
  align-items: center;
}
.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: $logoColor;
}
.logo--color-accent {
  color: $colorAccent;
}
.header-border {
  border-bottom: 1px solid #ececec;
}
.main-nav__list,
.header__contact-list {
  list-style-type: none;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}
.main-nav__list {
  gap: 46px;
}
.header__contact-list {
  gap: 50px;
}
.header__contact-details {
  color: $secondaryFontColor;
  display: flex;
  align-items: center;
}
.header__contact-details--icon-margin {
  margin-right: 10px;
}
.link--selected,
.address-list__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link--selected:hover,
.link--selected:focus,
.address-list__link:hover,
.address-list__link:focus {
  color: $colorAccent;
}
.main-nav__list--link-is-active {
  color: $colorAccent;
  position: relative;
}
.main-nav__list--link-is-active::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: $colorAccent;
  border-radius: 2px;
  position: absolute;
  top: 45px;
}
/* Sections styles */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* HERO */
.background-photo {
  max-width: 1600px;
  margin: 0 auto;
  background-image: linear-gradient(#2f303a66, #2f303a66), url('../images/hero_background.jpg');
  background-position: center;
  background-repeat: no-repeat;
}
.header-primary {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $baseColor;
  margin-bottom: 30px;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px calc((1200px - 696px) / 2);
}
.button {
  background: $colorAccent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: $baseColor;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero .button {
  padding: 10px 41px;
}
.button:hover,
.button:focus {
  background-color: $lightColorAccent;
  color: $colorAccent;
  fill: $colorAccent;
}
.backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  transform: scale(1);
  transition-property: visibility, opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
}
.modal-window {
  position: absolute;
  width: 528px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: $baseColor;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
.modal-window__exit-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.modal-window__form-box {
  display: flex;
  flex-direction: column;
}
.modal-window__form-header {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-font-color;
  margin-bottom: 12px;
}
.modal-window__form-box label {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: $secondaryFontColor;
  margin-bottom: 4px;
}
.modal-window__form-box--position {
  position: relative;
}
.modal-window__icon {
  position: absolute;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window__user-icon {
  top: 13.26px;
  left: 14.27px;
}
.modal-window__phone-icon {
  top: 14px;
  left: 15px;
}
.modal-window__mail-icon {
  top: 14px;
  left: 13.5px;
}
.modal-window__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  width: 100%;
  margin-bottom: 10px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window__input:focus,
.modal-window__form-box .modal-window__textarea:focus {
  outline: 0;
  border-color: $colorAccent;
}
.modal-window__input:focus + .modal-window__mail-icon,
.modal-window__input:focus + .modal-window__phone-icon,
.modal-window__input:focus + .modal-window__user-icon {
  fill: $colorAccent;
}
.modal-window__form-box .modal-window__textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  height: 120px;
  resize: none;
  margin-bottom: 20px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window__form-box .modal-window__textarea::placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}
.modal-window__checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  position: relative;
}
.modal-window__checkbox-container--input-opacity {
  opacity: 0;
}
.modal_window__accepted-terms {
  fill: $baseColor;
  background-color: $colorAccent;
  border-radius: 2px;
  position: absolute;
  transform: translate(-125%, 25%);
  z-index: 1;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window__checkbox-container--input-opacity:checked + .modal_window__accepted-terms {
  opacity: 1;
}
.modal_window__not-accepted-terms {
  position: absolute;
  transform: translate(-125%, 25%);
}
.modal-window__checkbox-container .modal-window__checkbox-label {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $secondaryFontColor;
}
.modal-window__checkbox-label .modal-window__checkbox-label--text-margin {
  margin-left: 7px;
}
.modal-window__checkbox-label .modal-window__checkbox-label--link-color {
  color: $colorAccent;
}
/* What we do */
.about-us-list {
  list-style-type: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $secondaryFontColor;
  display: flex;
  gap: 30px;
  margin-bottom: 94px;
}
.about-us-list .about-us-list__title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-font-color;
}
.about-us-list__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $lightColorAccent;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}
.header-secondary {
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.about-us-gallery,
.team-list,
.projects-gallery,
.clients-list {
  list-style-type: none;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.about-us-gallery .about-us-gallery__list-item {
  position: relative;
}
.about-us-gallery__title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $baseColor;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  top: 224px;
}
/* Our team */
.team-list .team-list__card-header {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.team-list .team-list__card-span {
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $secondaryFontColor;
  display: block;
}
.social-media {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.social-media__team-list {
  margin-top: 16px;
  color: $iconColor;
}
.social-media__icon {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media__icon:hover,
.social-media__icon:focus {
  background-color: $colorAccent;
  color: $baseColor;
  cursor: pointer;
}
.team-list__card {
  background-color: $baseColor;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-list__card .team-list__card-figcaption {
  padding-top: 30px;
  padding-bottom: 30px;
}
.section--team-bg {
  background-color: $lightColorAccent;
}
/* Our clients */
.clients-list__item {
  border: 1px solid $iconColor;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  color: $iconColor;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__item:hover,
.clients-list__item:focus {
  border: 1px solid $colorAccent;
  cursor: pointer;
  color: $colorAccent;
}
/* Footer styles */
.footer {
  background: $footerColor;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  gap: 70px;
}
.footer__logo {
  color: $baseColor;
  display: block;
  margin-bottom: 20px;
}
.address-list {
  list-style-type: none;
}
.address-list__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $baseColor;
  display: block;
  margin-bottom: 9px;
}
.address-list__link--color {
  color: rgba(255, 255, 255, 0.6);
}
.footer__element-header {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $baseColor;
  display: block;
  margin-bottom: 20px;
}
.social-media__footer {
  margin-right: 8px;
  color: $baseColor;
  padding-bottom: 40px;
}
.social-media__icon--footer-color {
  background-color: rgba(255, 255, 255, 0.1);
}
.footer__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: none;
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  color: $baseColor;
}
.footer__input::placeholder {
  font-size: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__input:hover,
.footer__input:focus,
.footer__input:active {
  border-color: $colorAccent;
  outline: 0;
  background: none;
}
.footer__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  fill: $baseColor;
  padding: 10px 28px 10px 42px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__form-container {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 34px;
}
/* PORTFOLIO main */
.filter-buttons-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 50px;
}
.filter-buttons-list .filter-buttons-list__button {
  background: $lightColorAccent;
  border-radius: 4px;
  border-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-buttons-list .filter-buttons-list__button:hover,
.filter-buttons-list .filter-buttons-list__button:focus {
  color: $baseColor;
  background-color: $colorAccent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.projects-gallery--flex-wrap {
  flex-wrap: wrap;
}
.projects-gallery__card {
  flex-basis: calc((100% - 60px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-gallery__card:hover,
.projects-gallery__card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.projects-gallery__card-img {
  display: block;
}
.projects-gallery__card-figcaption {
  padding: 20px 24px;
  border: 1px solid $projectsGalleryColor;
}
.projects-gallery__card-item {
  position: relative;
  overflow: hidden;
}
.projects-gallery__card-item-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 24px;
  padding-right: 45px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-gallery__card-item-overlay p {
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: $baseColor;
}
.projects-gallery__card:hover .projects-gallery__card-item-overlay,
.projects-gallery__card:focus .projects-gallery__card-item-overlay {
  transform: translateY(0);
}
.projects-gallery__card-header {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.projects-gallery__card-span {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: $secondaryFontColor;
}
